<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Propsy</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="icon" type="image/png" href="/favicon-256x256.png" sizes="256x256">
        <link rel="apple-touch-icon" href="/touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
        <!-- build:css(assets) styles/screen.css -->
        <link rel="stylesheet" href="styles/screen.css">
        <!-- endbuild -->
        <script type="text/javascript">var googleApiKey = '{{googleApiKey}}';</script>
        <script type="text/javascript">document.documentElement.className = document.documentElement.className.replace("no-js","js");</script>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <aside id="page-nav">
            <div class="search-box">
                <div id="logo">
                    <!-- build:js(assets) images/logo.png -->
                    <img src="images/logo.png" alt="Propsy">
                    <!-- endbuild -->
                </div>

                <div class="search-input">
                    <input type="text" name="q" placeholder="Wrocław, Rynek" />
                    <span class="clear">x</span>
                </div>

                <ul class="search-results"></ul>
            </div>

            <a href="#" class="toggle"></a>
        </aside>

        <div id="socials">
            <a class="facebook" href="https://www.facebook.com/ProPsy.Co/">Facebook</a>
            <a class="instagram" href="https://www.instagram.com/propsy.dog/">Instagram</a>
        </div>

        {{{ body }}}

        <script src="//maps.googleapis.com/maps/api/js?language=pl&libraries=places"></script>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- build:js(assets) scripts/app.js -->
        <script type="text/javascript" src="scripts/app.js"></script>
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','{{googleAnalyticsKey}}');ga('send','pageview');
        </script>

        <!-- Place suggestion entry -->
        <script id="suggestion-template" type="text/x-handlebars-template">
            <li class="suggestion">
                <a href="#"><span class="street">\{{street}}</span> <span class="city">\{{city}}</span></a>
            </div>
        </script>


    </body>
</html>
